==
<section id="projects" class="main">
    <header class="major">
        <h2>Recent Projects</h2>
        <p>Check out a sample of my current projects.</p>
    </header>
   
    <ul class="features" style='text-align:left;'>
       <li>
            
                <a href="#ex-wedding" rel="modal:open" class='proj-header'>
                    Taco Bell Weddings<br>
                    <div class="proj-text">Get married in a Taco Bell.</div>
                    <div class="proj-image"><img src='/storage/app/media/icon-wedding.jpg'></div>
                    <div class='proj-link'>More info</div>
                </a>
                
                
                <div id="ex-wedding" class="modal">
                      <div class="proj-header">Taco Bell Weddings<br></div>
                      <span class="proj-image"><img src='/storage/app/media/icon-wedding.jpg'></span>
                      <div class="proj-byline">That's right - people can get married inside a Taco Bell. This e-commerce platform is built with shopify and a custom front end layer that allows couples to reserve their time in the Las Vegas Taco Bell Wedding Chapel.<br><br><a href='http://tacobellwedding.com' target='new'>visit TacoBellWedding.com</a><br><br>
                      </div>
                      <a href="#" rel="modal:close">Close</a>
                </div>
                  
                
            
        </li>
        <li>
                
                <a href="#ex-sabsat" rel="modal:open" class='proj-header'>
                    Taco Bell World Series<br>
                    <div class="proj-text">Everyone gets a free taco.</div>
                    <div class="proj-image"><img src='/storage/app/media/icon-sabsat.jpg'></div>
                    <div class='proj-link'>More info</div>
                </a>
                
                
                <div id="ex-sabsat" class="modal">
                      <div class="proj-header">Taco Bell World Series<br></div>
                      <span class="proj-image"><img src='/storage/app/media/icon-sabsat.jpg'></span>
                      <div class="proj-byline">Scaling up "Taco Bell Steal A Base" promo for the first baserunner of the World Series who steals a base. At that moment, everyone receives a free taco. Preparing the hosting environment for the  instantaneous, impending event is critical since a burst of web traffic arrives exactly 10 seconds after the base is stolen.<br><br>
                      </div>
                      <a href="#" rel="modal:close">Close</a>
                </div>
              
        </li>
        <li>
               <a href="#ex-taco" rel="modal:open" class='proj-header'>
                    Tacobell.com E-commerce Website<br>
                    <div class="proj-text">Order your food online.</div>
                    <div class="proj-image"><img src='/storage/app/media/hype.gif'></div>
                    <div class='proj-link'>More info</div>
                </a>
                
                
                <div id="ex-taco" class="modal">
                      <div class="proj-header">Tacobell.com E-commerce Website<br></div>
                      <span class="proj-image"><img src='/storage/app/media/icon-computer.gif'></span>
                      <div class="proj-byline">Instead of just making another “the new fastfoodbrand.com", Taco Bell built TA.CO, an eCommerce site that lets fans customize anything they want from the Taco Bell menu, then order it over and over again. All with the fun, freedom, and creativity that you’d expect from a website with the URL TA.CO.<br><br>
                      </div>
                      <a href="#" rel="modal:close">Close</a>
                </div>
          
        </li>
         <li>
                <a href="#ex-testkitchen" rel="modal:open" class='proj-header'>
                    Taco Bell Test Kitchen<br>
                    <div class="proj-text">Taco Bell's new creations start here.</div>
                    <div class="proj-image"><img src='/storage/app/media/icon-opentable.jpg'></div>
                    <div class='proj-link'>More info</div>
                </a>
                
                
                <div id="ex-testkitchen" class="modal">
                      <div class="proj-header">Taco Bell Test Kitchen<br></div>
                      <span class="proj-image"><img src='/storage/app/media/icon-opentable.jpg'></span>
                      <div class="proj-byline">This website allows users to make their online reservation to the Taco Bell headquarters Tesk Kitchen. The site is a single page web app on a static S3 bucket. Using AJAX and oAuth2.0 token access users are able to reserve their place through the Opentable API. Lambda and API Gateway were also integrated as a wrapper to further protect the OpenTable API from being exposed/misused.
                        <br><br><a href='https://www.thetacobelltestkitchen.com/' target='new'>visit TheTacoBellTestKitchen.com</a><br><br>
                      </div>
                      <a href="#" rel="modal:close">Close</a>
                </div>
              
        </li>
        <li>
                <a href="#ex-cmab" rel="modal:open" class='proj-header'>
                    Real California Milk<br>
                    <div class="proj-text">Happy Cows, recipes and more.</div>
                    <div class="proj-image"><img src='/storage/app/media/icon-cmab.jpg'></div>
                    <div class='proj-link'>More info</div>
                </a>
                
                
                <div id="ex-cmab" class="modal">
                      <div class="proj-header">Real California Milk<br></div>
                      <span class="proj-image"><img src='/storage/app/media/icon-cmab.jpg'></span>
                      <div class="proj-byline">California Milk Advisory board (CMAB) is the company behind the "happy cows" commercials that Deutsch has produced for years. “Happy cows come from california”, remember?  Deutsch redesigned the Real California Milk website and build an advanced search engine to discover site content, based on AWS ElasticSearch.<br><br><a href='http://RealCaliforniaMilk.com' target='new'>visit RealCaliforniaMilk.com</a>  <br><br>
                      </div>
                      <a href="#" rel="modal:close">Close</a>
                </div>
        </li>
        
         <li>
                <a href="#ex-fuelcaster" rel="modal:open" class='proj-header'>
                    Esurance Fuelcaster<br>
                    <div class="proj-text">See tomorrow's gas prices.</div>
                    <div class="proj-image"><img src='/storage/app/media/poster.jpg'></div>
                    <div class='proj-link'>More info</div>
                </a>
                
                
                <div id="ex-fuelcaster" class="modal" >
                  <p><div class="proj-header">Esurance Fuelcaster<br></div>
                      <video id="fcvid" class="video-js vjs-default-skin" controls preload="none" style='width:90%;' poster="/storage/app/media/poster.jpg" data-setup="{}">
        			    <source src="/storage/app/media/Esurance_FuelcasterASV_011.webm" type='video/webm' />
        			    <source src="/storage/app/media/Esurance_FuelcasterASV_011.ogv" type='video/ogg' />
        			    <source src="/storage/app/media/Esurance_FuelcasterASV_011.mp4" type='video/mp4' />
        			 </video>
                         <div class='proj-text'>Buy gas today, or wait for tomorrow? Find out with Fuelcaster, the gas-price predictor. Just enter your zip, and we’ll give you real-time gas prices and a prediction of whether they’ll rise or fall tomorrow.<br><br><a href='http://fuelcaster.com' target='new'>visit Fuelcaster.com</a>
                        </div>
                  </p>
                  <a href="#" rel="modal:close">Close</a>
                </div>
        </li>
        <li>
                <a href="#ex-emoji" rel="modal:open" class='proj-header'>
                    Taco Bell Emoji Engine<br>
                    <div class="proj-text">Taco Bell's quest for the Taco Emoji.</div>
                    <div class="proj-image"><img src='/storage/app/media/icon-emojiengine.jpg'></div>
                    <div class='proj-link'>More info</div>
                </a>
                
                <div id="ex-emoji" class="modal" style='color:black;'>
                  <p><div class='proj-header'>Taco Bell Emoji Engine<br></div>
                      <iframe src="https://player.vimeo.com/video/165211740?api=1" style='width:100%;'  frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" class="vimeo" id="video"></iframe>
                      
                      
                    <div class='proj-text'>Taco Bell launched a Twitter conversation about tacos with custom tweets that featured the new taco emoji.<br><br>
                        <a href='https://lookwhatwedid.co/tacobellemoji-awards/' target='new'>visit Emoji Engine</a>  
                    </div>
                  </p>
                  <a href="#" rel="modal:close">Close</a>
                </div>
            
        </li>
        
        <li>
                <a href="#ex-smiledrive" rel="modal:open" class='proj-header'>
                    VW SmileDrive powered by Google<br>
                    <div class="proj-text">Enjoy the ride.</div>
                    <div class="proj-image"><img src='/storage/app/media/icon-smiledrive-b.jpg'></div>
                    <div class='proj-link'>More info</div>
                </a>
                
                
                <div id="ex-smiledrive" class="modal">
                      <div class="proj-header">VW SmileDrive powered by Google<br></div>
                      <span class="proj-image">
                          <video id='sdvid' class="video-js vjs-default-skin" controls preload="none"  poster="/storage/app/media/icon-smiledrive.jpg" data-setup="{}">
            			    <source src="/storage/app/media/VW_SmileDrive_Awards_Campaign_Version.webm" type='video/webm' />
            			    <source src="/storage/app/media/VW_SmileDrive_Awards_Campaign_Version.ogv" type='video/ogg' />
            			    <source src="/storage/app/media/VW_SmileDrive_Awards_Campaign_Version.mp4" type='video/mp4' />
            			 </video>
                      </span>
                      <div class="proj-byline">Smiledrive was a native app for your mobile device to record your driving adventures and share pictures/highlights with friends online. <br><br>
                      </div>
                      <a href="#" rel="modal:close">Close</a>
                </div>
                
        </li>
        
    </ul>
    
    
    
    
    <footer class="major">
        <ul class="actions">
            
        </ul>
    </footer>
</section>