==
<section class="main">
    <div class="spotlight">
        <div class="content" id="about"><br />
            <header class="major" style='text-align:left;'>
                 <h2 style='text-align:left;'><B>Kevin Fessler, PMP</B></h2>
                 <h3 style='text-align:left;'><B>Principal Product Manager</B></h3>
            </header>
            
            <span class='proj-text'>
                
                <div class='proj-text'>
                  <img style='border:1px black solid;width:60%;float: left;margin-right: 15px;margin-top: 15px;' src="/storage/app/media/kevin-artcopycode.jpg" alt="image" />
                  
                  Understanding your customer goes beyond demographics and preferences. It’s about analyzing their actions, behaviors, and pain points throughout their journey. Identify their specific needs at each stage: How do they complete tasks? What challenges do they face?<br><br>
                      
                      By leveraging data-driven insights and inclusive design principles, I help teams craft solutions that deliver seamless, accessible, and impactful user experiences for everyone.<br><br>
                      
                  As a product manager and certified Agile leader, I am a strong advocate for the customer experience with a proven track record of cross-collaboration with dev teams to deliver innovative technology products. I have managed multiple large-scale platform launches driving $100M+ in YoY revenue, for both startups and Fortune 500 companies.<br><br>
                  
                      Using my experience taking products from “0 to 1” in fast-paced environments, I collaborate with high performing, cross-functional teams to achieve measurable results with significant and meaningful impact (through OKRs, KPI metrics, and A/B testing).<br>
                    <strong>Professional references available upon request<br><br>Linked-in profile here:</strong><br>
    <a href='https://www.linkedin.com/in/killertechnology/' target='new'>https://www.linkedin.com/in/killertechnology</a><br><br>
        
        <img style='border:1px black solid;width:20%;' src="/storage/app/media/aws-badge.gif" alt="image" />&nbsp;
        <a href='https://www.credly.com/badges/45b0f501-92c2-4cbf-8556-27a3c025d7c0/embedded' target='_new'><img 
        style='border:1px black solid;width:20%;' src="/storage/app/media/pmp-badge.gif" alt="image" /></a><br>
       
        </div>
    </div>
</section>