==
<!-- Third Section -->
<section id="tools" class="main">
    <header class="major">
        <h2>DevOps & Platform Management</h2>
        <p>Choosing the right tools for deploying and monitoring your infrastructure are critical to ensure high availability and prevent massive costs from adding up quickly.  </p>
    </header>
    <!-- 
    <ul class="statistics">
        <li class="style1">
            <span class="icon fa-code-fork"></span>
            <strong>5,120 branches</strong> Github/Bitbucket
        </li>
        <li class="style2">
            <span class="icon fa-folder-open-o"></span>
            <strong>8,192 static files</strong> S3
        </li>
        <li class="style3">
            <span class="icon fa-signal"></span>
            <strong>2,048 IOPS</strong> Cloudwatch
        </li>
        <li class="style4">
            <span class="icon fa-laptop"></span>
            <strong>16,096 GB</strong> EC2 
        </li>
        <li class="style5">
            <span class="icon fa-diamond"></span>
            <strong>$1,024 / mo</strong> Cost Management
        </li>
    </ul>
    -->
 

</section>