description = "Stellar OnePage with Smooth Scroll"
==
<html>
<head>
<script language="javascript">if (location.href.indexOf('https://flexui.com/')>-1){ location.href='https://kevinfessler.info'; }</script>
    {% partial "html_base/meta_head" %}
</head>
<body>

    <div id="wrapper">
        {% partial "all_pages/header" %}
        {% partial "home_page/navigation" %}
        
        {% page %}
        
       {% partial "all_pages/footer" %}
    </div>
    {% partial "html_base/scripts" %}
</body>
</html>